
    h1 {
        color: hsl(300, 43%, 22%);
        font-weight: bold;
        font-size: 50px;
        
    }

    h2 {
        color: hsl(303, 10%, 53%);
        font-size: small;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 500;
    }   

    h3 {

    }

    article {
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        
    }

    .ratings {
        display: flex;
        flex-direction: column;
        color:purple;
        width: 550px;
    }

    section {
        /* width: 500px; */
        
    }

    .topContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .bottomContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2px;
    
    }

    .shades {
        background-color:  hsl(288, 13%, 92%);
        
        
    }

    article {
        font-size: large;
    }

    #shaded1 {
        border-radius: 5px;
        padding-top: 1.5px;
        margin-right: 150px;
        padding-bottom: 3px;
        border: solid burlywood;
        display: flex;

        
    }

    .stars1 {
        border: solid rebeccapurple;
    }

    #shine1 {
        border: solid rgb(237, 11, 11)65, 65) ;
    }

    #shaded2 {
        
        border-radius: 5px;
        margin-left: 35px;
        margin-right: 100px;
        padding-top: 3px;
        margin-top: 20px;
        padding-bottom: 3px;
    }
    
    #shaded3 {
        border-radius: 5px;
        margin-left: 70px;
        margin-right: 50px;
        padding-top: 3px;
        margin-top: 20px;
        padding-bottom: 3px;
    }

    .tweet {
        border-radius: 7px;
        background-color: hsl(300, 43%, 22%);
        color: white;
        padding: 27px;
        width: 25%;
        font-family: "League Spartan";
    }

    #tweet {
        height: 150px;
    }

    #tweet2 {
        margin-top: 33px;
        height: 150px;
    }

    #tweet3 {
        margin-top: 66px;
    }

    img {
        border-radius: 55px;
    }

    .name {
        padding-left: 13px;
    }

    .buyer {
        padding-left: 13px;
    }

    .namePic {
        display: flex;
        flex-direction: row;
    }

    .buyer {
        color: hsl(333, 80%, 67%);
    }

   
/* ################################################################################ */
    @media (max-width: 1066px) {
        .tweet {
            border-radius: 7px;
            background-color: hsl(300, 43%, 22%);
            color: white;
            padding: 27px;
            width: 25%;
            height: 200px;
            font-family: "League Spartan";
    }

        #tweet {
            height: 210px;
    }

        #tweet2 {
            margin-top: 33px;
            height: 200px;
    }

         #tweet3 {
            margin-top: 66px;
            height: 200px;
    }
        
}


/* ################################################################################ */

    @media  (max-width: 905px){
    
    
    }